body {
    font-family: sans-serif;
    font-style: normal;
}

.search-column {
    background-color: #D3D3D3;
}

.list-group-item {
    line-height: 0.5;
    border: none;
}

.card-body {
    flex: auto;
}

span.severe {
    padding: 3px;
    background-color: rgb(211, 20, 77);
    color: white;
}

span.moderate {
    padding: 3px;
    background-color: rgb(216, 216, 13);
}

span.favorable {
    padding: 3px;
    background-color: rgb(5, 92, 133);
    color: white;
}